@model Connect4_Web_Project.Models.Database.User

@{
    ViewBag.Title = "ProfileDetails";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}

<h2>Welcome to Your Profile Page</h2>

<button>
    <content ="Logout" onclick="">
</button>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username);
        </dd>
       
    </dl>
</div>
<p>
    @Html.ActionLink("Log out", "Edit", new { id = Model.idUser }) |
    @Html.ActionLink("Back to List", "Index")
</p>
