@model Connect4_Web_Project.Models.Board.Board

<center>
    <h1>
        @{
            var boardArray = ViewBag.MyBoard;

            for (int row = 0; row < boardArray.GetLength(0); row++)
            {
                <tr>
                    @for (int col = 0; col < boardArray.GetLength(1); col++)
                    {
                        if (boardArray[row, col] == 1)
                        {
                            <td><img src="~/Images/redChip.png" width="50" height="50" /></td>
                        }
                        else if (boardArray[row, col] == 2)
                        {
                            <td><img src="~/Images/blueChip.png" width="50" height="50" /></td>
                        }
                        else
                        {
                            <td><img src="~/Images/blankChip.png" width="50" height="50" /></td>
                        }
                    }
                    <br />
                </tr>
            }
        }
    </h1>
</center>