@model Connect4_Web_Project.Models.Board.Board

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}
<link href="~/CSS/game.css" rel="stylesheet" type="text/css" />

<h2 style="padding-top: 200px;"></h2>

<center>
    <input id="txtColInput" type="number" placeholder="Enter Column Number" />
    <button id="enterCol" type="button">Enter</button>

    <div id="grid">
        @Html.Partial("Grid", Model)
    </div>

    <div id="messageBox"></div>
</center>

<input type="hidden" id="pieceValueHolder" />
<input type="hidden" id="connectionIDHolder" />




<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="signalr/hubs"></script>

<script type="text/javascript">
    $(function () {
        //Declare proxy
        var lobby = $.connection.connectFourHub;

        //Create a function that the hub can call to broacast messages
        lobby.client.broadcastMessage = function (colString, pieceValue) {
            let text = "Game/UpdateBoard?column=" + colString + "&&pieceKey=" + pieceValue + "&&connectionID=" + $("#connectionIDHolder").val();
            $.get(text, {}, function (response) {
                $("#grid").html(response);
            });
        }

        lobby.client.getWin = function () {
            let text = "Game/WinBoard";
                
            $.get(text, {}, function (response) {
                $("#messageBox").html(response);
            });
        }

        lobby.client.getLose = function (winnerName) {
            let text = "Game/LoseBoard?winnerName=" + winnerName;
            $.get(text, {}, function (response) {
                $("#messageBox").html(response);
            });
        }

        lobby.client.setData = function (pieceValue, connectionID) {
            $("#pieceValueHolder").val(pieceValue);
            $("#connectionIDHolder").val(connectionID);
        }

        $.connection.hub.start().done(function () {
            $("#enterCol").click(function () {
                lobby.server.sendColGroup($("#txtColInput").val(), $("#pieceValueHolder").val());
            });
        });

        
    });



    //$(function () {
    //    $("#enterCol").click(function () {
    //        let text = "UpdateBoard?column=" + $("#txtColInput").val();
    //        $.get(text, {}, function (response) {
    //            $("#grid").html(response);
    //        });
    //    });
    //});

</script>