@model Connect4_Web_Project.Models.Board.Board

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}
<link href="~/CSS/game.css" rel="stylesheet" type="text/css" />

<h2 style="padding-top: 100px;"></h2>
<style type="text/css">
    .txtChat{
        padding-top: 110px;
    }
    .messageArea {
        padding-top: 10px;
        overflow: auto;
        list-style: none;
        height: 100px;
    }
    .colorDiv
    {
        font-size:24px;
    }
    .playButton {
        border-style: groove;
        border-color: aqua;
        border-width: thick;
        border-radius: 4px;
        background-color: #2A405B;
        color: #D2F2F2;
    }
</style>


<center>
    @*<input id="txtColInput" type="number" placeholder="Enter Column Number" disabled/>
    <button id="enterCol" type="button" disabled>Enter</button>*@

    <div id="grid" style="        width: 475px;
        height: auto;
        padding: 20px;
        background-color: #3A506B;
">
        @*@Html.Partial("Grid", Model)*@
        <div style="width: 420px; height: 200px;">
            <div style="width: 200px; height: 200px; float:left">
                <button id="findMatchButton" class="playButton" value="Find Match" style="width: 90%; height: 90%">Find Match</button>
            </div>
            <div style="width: 200px; height: 200px; float:right">
                <ul style="list-style:none">
                    <li>
                        <button id="easyButton" class="playButton" value="Easy AI" style="width: 180px; height: 58px; ">Easy</button>
                    </li>
                    <li>
                        <button id="mediumButton" class="playButton" value="Medium AI" style="width: 180px; height: 58px; ">Medium</button>
                    </li>
                    <li>
                        <button id="hardButton" class="playButton" value="Hard AI" style="width: 180px; height: 58px; ">Hard</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="colorDiv">Choose Your Color!</div>
        <input type="image" class="chooseColorButton" value="1" src="~/Images/redChip.png" width="100" height="100" />
        <input type="image" class="chooseColorButton" value="2" src="~/Images/blueChip.png" width="100" height="100" />
        <input type="image" class="chooseColorButton" value="3" src="~/Images/greenChip.png" width="100" height="100" />
        <input type="image" class="chooseColorButton" value="4" src="~/Images/yellowChip.png" width="100" height="100" />
        <input type="image" class="chooseColorButton" value="5" src="~/Images/orangeChip.png" width="100" height="100" />
        <input type="image" class="chooseColorButton" value="6" src="~/Images/pinkChip.png" width="100" height="100" />
        <input type="image" class="chooseColorButton" value="7" src="~/Images/purpleChip.png" width="100" height="100" />
  
        <div>
            @*Display name and piece color stuff*@
            <input id="displayNameInput" type="text" placeholder="Display Name"/>
        </div>

    </div>

    <div id="messageBox">
    </div>

    <div class="txtChat" hidden>
        <input type="text" id="message" placeholder="Enter Chat Message!" />
        <input type="button" id="sendmessage" value="Send" />
    </div>
    <div class="messageArea">
        <input type="hidden" id="displayname" />
        <ul id="discussion">
        </ul>
    </div>
</center>

<input type="hidden" id="pieceValueHolder" />
<input type="hidden" id="connectionIDHolder" />
<input type="hidden" id="pieceColorHolder" value="0" />


@*<script src="Scripts/jquery-3.0.0.min.js"></script>*@

<script type="text/javascript">
    $(function () {
        //Declare proxy
        var lobby = $.connection.connectFourHub;

        //Create a function that the hub can call to broacast messages
        lobby.client.updateBoard = function () {
            $(".txtChat").prop('hidden', false);

            let text = "Game/UpdateBoard?connectionID=" + $("#connectionIDHolder").val();
            $.get(text, {}, function (response) {
                $("#grid").html(response);

                $(".placePieceButton").click(function () {
                    lobby.server.sendColGroup(this.value, $("#pieceValueHolder").val());
                    //$("#pieceColorHolder").val(this.value);
                });
            });
        }

        lobby.client.addNewMessageToPage = function (name, message) {
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();
            $('#discussion').html('<li><strong>' + encodedName
                + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>' + $('#discussion').html());
        };

        lobby.client.giveInputAccess = function () {
            $("#txtColInput").prop('disabled', false);
            $("#enterCol").prop('disabled', false);
        }

        lobby.client.takeInputAccess = function () {
            $("#txtColInput").prop('disabled', true);
            $("#enterCol").prop('disabled', true);
        }
    

        lobby.client.message = function (text) {
            $("#messageBox").html(text);
        }

        lobby.client.getWin = function () {
            let text = "Game/WinBoard";

            $.get(text, {}, function (response) {
                $("#messageBox").html(response);
            });

            //$.connection.connectFourHub;
        }

        lobby.client.getLose = function (winnerName) {
            let text = "Game/LoseBoard?winnerName=" + winnerName;
            $.get(text, {}, function (response) {
                $("#messageBox").html(response);
            });

            $.connection.connectFourHub;
        }

        lobby.client.setLoading = function () {
            $("#messageBox").html("Connecting...");
            $("#findMatchButton").prop('disabled', true);
            $("#easyButton").prop('disabled', true);
            $("#mediumButton").prop('disabled', true);
            $("#hardButton").prop('disabled', true);
        }

        lobby.client.setData = function (pieceValue, connectionID) {
            $("#pieceValueHolder").val(pieceValue);
            $("#connectionIDHolder").val(connectionID);
        }

        //Dont Prompt. Get Profile Name.
        //$('#displayname').val(prompt('Enter your name:', ''));
        //$('#message').focus();

        $.connection.hub.start().done(function () {
            //$("#enterCol").click(function () {
            //    lobby.server.sendColGroup($("#txtColInput").val(), $("#pieceValueHolder").val());
            //});
            $("#findMatchButton").click(function () {
                $("#messageBox").html("Connecting...");
                $("#findMatchButton").prop('disabled', true);
                $("#easyButton").prop('disabled', true);
                $("#mediumButton").prop('disabled', true);
                $("#hardButton").prop('disabled', true);
                lobby.server.joinMatchPlayer($("#displayNameInput").val(), $("#pieceColorHolder").val());
            });
            $("#easyButton").click(function () {
                $("#messageBox").html("Connecting...");
                $("#findMatchButton").prop('disabled', true);
                $("#easyButton").prop('disabled', true);
                $("#mediumButton").prop('disabled', true);
                $("#hardButton").prop('disabled', true);
                lobby.server.joinMatchAI("Easy", $("#displayNameInput").val(), $("#pieceColorHolder").val());
            });
            $("#mediumButton").click(function () {
                $("#messageBox").html("Connecting...");
                $("#findMatchButton").prop('disabled', true);
                $("#easyButton").prop('disabled', true);
                $("#mediumButton").prop('disabled', true);
                $("#hardButton").prop('disabled', true);
                lobby.server.joinMatchAI("Medium", $("#displayNameInput").val(), $("#pieceColorHolder").val());
            });
            $("#hardButton").click(function () {
                $("#messageBox").html("Connecting...");
                $("#findMatchButton").prop('disabled', true);
                $("#easyButton").prop('disabled', true);
                $("#mediumButton").prop('disabled', true);
                $("#hardButton").prop('disabled', true);
                lobby.server.joinMatchAI("Hard", $("#displayNameInput").val(), $("#pieceColorHolder").val());
            });

            $('#sendmessage').click(function () {
                lobby.server.sendChatMessage($('#message').val());
                $('#message').val('').focus();
            });

            $(".chooseColorButton").click(function () {
                $("#pieceColorHolder").val(this.value);
            });
        });
    });
  
    //$(function () {
    //    $("#enterCol").click(function () {
    //        let text = "UpdateBoard?column=" + $("#txtColInput").val();
    //        $.get(text, {}, function (response) {
    //            $("#grid").html(response);
    //        });
    //    });
    //});
</script>
<h2 style="padding-top: 248px;"></h2>