
<div>
    <div width ="200" height="200" style="float:left">
        <button id="findMatchButton" value="Find Match" width="90%" height="90%"></button>
    </div>
    <div width ="200" height="200" style="float:left">
        <button id="easyButton" value="Easy AI" padding="5%" height="27%"></button>
        <button id="mediumButton" value="Medium AI" padding="5%" height="27%"></button>
        <button id="hardButton" value="Hard AI" padding="5%" height="27%"></button>
    </div>
</div>

