
@{
    ViewBag.Title = "Credits";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}

<h2>Credits</h2>

<h1>Developers</h1>

<div>
    <p>
        Cameron Childress
    </p>
</div>
<div>
    <p>
        Corey Mundy
    </p>
</div>
<div>
    <p>
        Tyler Scott
    </p>
</div>
<div>
    <p>
        Jesse Whiting 
    </p>
</div>
<div>
    <p>
        Ethan Hoffman
    </p>
</div>

<h1>
    Credits to other Sources
</h1>

<div>
    <p>
        <A HREF="https://www.wikihow.com/Play-Connect-4">Wiki How to Play Connect 4</A>
    </p>
</div>

<div>
    <p>
        <A HREF="https://mathworld.wolfram.com/Connect-Four.html">Math World Connect 4</A>
    </p>
</div>

<div>
    <p>
        <A HREF="https://stock.adobe.com/search?k=%22welcome+word%22">Stock Adobe</A>
    </p>
</div>


