
@{
    ViewBag.Title = "Credits";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}
<link href="~/CSS/credits.css" rel="stylesheet" type="text/css" />


<h1 style="font-size: 45px;
font-weight: bold">
    Credits
</h1>
<hr />

<h2>Developers</h2>
<br />
<div>
    <p style="color: red;
        font-weight: bold;
">
        Cameron Childress
    </p>
</div>
<div>
    <p style="color: orange;
        font-weight: bold;
">
        Corey Mundy
    </p>
</div>
<div>
    <p style="color: gold;
        font-weight: bold;
">
        Ethan Hoffman
    </p>
</div>
<div>
    <p style="color: green;
        font-weight: bold;
">
        Jesse Whiting
    </p>
</div>
<div>
    <p style="color: dodgerblue;
        font-weight: bold;">
        Tyler Scott
    </p>
</div>
<hr />
<h2>
    Credits to other Sources
</h2>
<br />

<div>
    <p>
        <A HREF="https://www.wikihow.com/Play-Connect-4">Wiki How to Play Connect 4</A> <br />
        <A HREF="https://mathworld.wolfram.com/Connect-Four.html">Math World Connect 4</A> <br />
        <A HREF="https://stock.adobe.com/search?k=%22welcome+word%22">Stock Adobe</A>
    </p>
</div>



