
@{
    ViewBag.Title = "Credits";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}
<link href="~/CSS/credits.css" rel="stylesheet" type="text/css" />
<body>
<br />
    <h1 style="        font-size: 45px;
        font-weight: bold;
        text-shadow: 5px 5px #0B132B;
">
        The Team
    </h1>
    <hr style="background-color: #ffffff"/>

    <h2>Developers</h2>
    <br />
    <div>
        <p style="
        font-weight: bold;
">
            Cameron Childress
        </p>
    </div>
    <div>
        <p style=" font-weight: bold; ">
            Corey Mundy
        </p>
    </div>
    <div>
        <p style="font-weight: bold; ">
            Ethan Hoffman
        </p>
    </div>
    <div>
        <p style="font-weight: bold; ">
            Jesse Whiting
        </p>
    </div>
    <div>
        <p style="font-weight: bold;">
            Tyler Scott
        </p>
    </div>

    <h2 style="padding-top: 50px; font-size: 20px;">
        Contact info: <br />
                      <p style="        font-size: 13px;
        text-shadow: 3px 3px #0B132B;
">Email: ultimour@ultimateconnectfour.com </p> 
    </h2>

    <h2 style="padding-top: 280px;"></h2>

    
</body>

