
@{
    ViewBag.Title = "HowToPlay";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}

<h2>How do I play?</h2>

<div>
    <img src="~/Images/LookAtTheBoard.jpg" style="width:1050px;height:800px;">
    <P>The board will be set up already as soon as you launch the game page or link</P>
</div>

<div>
    <img src="~/Images/PieceChoice.jpg" style="width:1050px;height:800px;">
    <P>The player and AI will have their colors chosen for them</P>
</div>

<div>
    <img src="~/Images/RandomSelect.jpg" style="width:1050px;height:800px;">
    <P>A player vs AI will have the player going first. A player VS player will have a randomly selected player</P>
</div>

<div>
    <img src="~/Images/Player1Move.jpg" style="width:1050px;height:800px;">
    <P>Player 1 will then choose which column they will insert a piece into.</P>
</div>

<div>
    <img src="~/Images/Player2Move.jpg" style="width:1050px;height:800px;">
    <P>Player 2 will then choose which column they will insert a piece into.</P>
</div>

<div>
    <img src="~/Images/GetTheRow.jpg" style="width:1050px;height:800px;">
    <P>The game will check to see who won at end of each players turns. Get a 4 in a row diagonally, vertiaclly or horizontally will result in a win</P>
</div>




