
@{
    ViewBag.Title = "HowToPlay";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}
<link href="~/CSS/howToPlay.css" rel="stylesheet" type="text/css" />
<h2>How to Play Connect Four</h2>

<div style="padding-top: 25px;">
    <img src="~/Images/LookAtTheBoard.jpg" style="width:525px;height:400px;">
    
    <P>
    <a style="font-size: 11px;" href="https://www.wikihow.com/Play-Connect-4">© wikiHow: How to Play Connect Four (2020) </a>
    <br />The board will be set up already as soon as you launch the<br />game page or link</P>
</div>

<div>
    <img src="~/Images/PieceChoice.jpg" style="width:525px;height:400px;">
    <P>
        <a style="font-size: 11px;" href="https://www.wikihow.com/Play-Connect-4">© wikiHow: How to Play Connect Four (2020) </a>
        <br />
        The player and AI will have their colors chosen for them
    </P>
</div>

<div>
    <img src="~/Images/RandomSelect.jpg" style="width:525px;height:400px;">
    <P>
        <a style="font-size: 11px;" href="https://www.wikihow.com/Play-Connect-4">© wikiHow: How to Play Connect Four (2020) </a>
        <br />
        A player vs AI will have the player going first. A player VS<br />player will have a randomly selected player
    </P>
</div>

<div>
    <img src="~/Images/Player1Move.jpg" style="width:525px;height:400px;">
    <P>
        <a style="font-size: 11px;" href="https://www.wikihow.com/Play-Connect-4">© wikiHow: How to Play Connect Four (2020) </a>
        <br />
        Player 1 will then choose which column they will insert a <br />piece into.
    </P>
</div>

<div>
    <img src="~/Images/Player2Move.jpg" style="width:525px;height:400px;">
    <P>
        <a style="font-size: 11px;" href="https://www.wikihow.com/Play-Connect-4">© wikiHow: How to Play Connect Four (2020) </a>
        <br />
        Player 2 will then choose which column they will insert a <br />piece into.
    </P>
</div>

<div>
    <img src="~/Images/GetTheRow.jpg" style="width:525px;height:400px;">
    <P>
        <a style="font-size: 11px;" href="https://www.wikihow.com/Play-Connect-4">© wikiHow: How to Play Connect Four (2020) </a>
        <br />
        The game will check to see who won at end of each players <br /> turns. Get a 4 in a row diagonally, vertiaclly or horizontally <br /> will result in a win
    </P>
</div>

<div>
    <p>
        credit goes to wikihow.com for the images that we display on our page.
    </p>
</div>

<div>
    <p>
        <A HREF="https://www.wikihow.com/Play-Connect-4">Wiki How to Play Connect 4</A>
    </p>
</div>




