
@{
    ViewBag.Title = "HowToPlay";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}

<h2>How do I play?</h2>

<div>
    <img src="~/Images/RandomSelect.jpg" style="width:1050px;height:800px;">
</div>




