
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}
<link href="~/CSS/home.css" rel="stylesheet" type="text/css" />


<div>
    <img src="~/Images/Welcome.png" height="500" width="600"> 
</div>


<div>
    <P>
        Welcome fellow member! This is our glorious start page to a world of fun!
    <P>
</div>

<div>
    <img src="~/Images/connect4.gif" height="500" width="500">
</div>