
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}
<link href="~/CSS/home.css" rel="stylesheet" type="text/css" />
<body>
    <div>
        <P style="        font-size: 90px;
        font-weight: bold;
        text-shadow: 6px 6px #0B132B;
">
            Welcome to Ultimate Connect Four!
        <P>
        <p>
            Click <b>"Play Connect Four"</b> to start playing now!
        </p>
    </div>

    <div>
        <img src="~/Images/connect4.gif" height="420" width="420">

    </div>

    <a href="https://mathworld.wolfram.com/Connect-Four.html" style="font-size: 13px">©Wolframe: Connect Four (2021)</a>
    <h2 style="padding-top: 26px;"></h2>
</body>