
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedData/_LayoutPage.cshtml";
}

<h2>Home Page</h2>

<div>
     <img src="~/Images/Welcome.jpg" height="500" width="500">
</div>


<div>
    <P>
        Welcome fellow member! This is our glorious start page to a world of fun! 
    <P>
</div>

<div>
    <img src="~/Images/connect4.gif" height="500" width="500">
</div>